.admin {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/image1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;

        .formBody {
            width: 40%;
            height: 40%;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .header {
                font-size: 20px;
            }

            .form {
                width: 90%;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                flex-direction: column;

                input {
                    border-radius: 10px;
                    padding: 10px;
                    border: 2px solid #e72828;

                    &[type="button"] {
                        cursor: pointer;
                        background-color: #e72828;
                        color: white;
                        text-transform: uppercase;
                        font-size: 14px;

                        &:hover {
                            transform: scale(1.05);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

    .adminAddDetails {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;


        .header {
            font-size: 24px;
            align-self: center;
            color: #e72828;
        }

        form {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}