.adminEdit {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets//images/image1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}