.landing {
    height: 110vh;
    padding: 20px;
    margin-top: 80px;
    background-image: url("../assets/images/wp3714801.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.right {
    width: 50%;
}

.right .header {
    text-transform: uppercase;
    font-size: 90px;
    font-family: "Oswald";
    font-weight: bolder;
    color: black;
    text-align: start;
}

.right button {
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: #e72828;
    width: 50%;
    height: 60px;
    border: none;
}

.right button:hover {
    transform: scaleY(1.1);
}

.left {
    height: 100%;
    width: 50%;
}