.packageDetails {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packageDetails .child {
    width: 80%;
    border: 1px solid white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.packageDetails .child .header {
    color: white;
    align-self: center;
    font-size: 20px;
}

.packageDetails .child .header span {
    color: #e72828;
}

.shipmentProfile,
.shipmentDetails,
.shipperDetails,
.shipmentTracking {
    padding: 10px;
    width: 90%;
    border: 1px solid white;
    color: #a29f9f;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipmentProfile .body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.packageDetails .child .shipmentProfile span {
    color: #e72828;
}

.packageDetails .child .shipmentProfile .date,
.destination,
.expectedDeliveryDate,
.origin,
.receiverName,
.receiverAddress {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.shipmentDetails .header,
.shipmentTracking .header {
    font-size: 24px;
}

.shipmentDetails .body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shipmentTracking .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shipmentDetails .body p,
.shipmentTracking .body p {
    font: bolder;
    color: white;
    border-bottom: 1px solid white;
}

.shipmentDetails .body h1,
.shipmentTracking .body h1 {
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.shipmentTracking .body h1.underlined {
    cursor: pointer;
    text-decoration: underline;
}

.shipmentTracking .body h1 {
    color: #a29f9f;
}

.shipmentTracking .body:nth-child(0) {
    background-color: #e72828;
}

.shipperDetails .body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.shipperDetails .body:nth-child(0) {
    background-color: #e72828;
}

.shipperDetails .body p {
    font: bolder;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}

.shipperDetails .body h1 {
    /* margin-top: 20px; */
    color: #a29f9f;
    font-size: 16px;
    text-align: center;
    border: 1px solid white;
}




@media screen and (max-width: 440px) {
    .packageDetails {
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .packageDetails .child {
        border: none;
    }

    .packageDetails .child .shipmentProfile .date,
    .destination,
    .expectedDeliveryDate,
    .origin,
    .receiverName,
    .receiverAddress {
        font-size: 13px;
        align-items: center;
    }

    .shipmentProfile .body {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .shipmentDetails .body h1,
    .shipmentTracking .body h1 {
        font-size: 13px;
    }

    .shipperDetails .body {
        width: auto;
    }
}