.track {
    height: 60vh;
    background-image: url("../assets/images/image1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.track .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.8);
}

.track .overlay .header {
    color: white;
    font-size: 70px;
    text-align: center;
}

.track .overlay .body {
    color: white;
    font-size: 16px;
    text-align: center;
}

.track .overlay .trackBar {
    height: 50px;
    width: 30%;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
}

.track .overlay .trackBar input {
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 70%;
    padding: 10px;
}

.track .overlay .trackBar input:focus-visible {
    outline: none;
}

.track .overlay .trackBar button {
    width: 30%;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    background-color: #e72828;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.track .overlay .trackBar button:hover {
    transform: rotateZ(10deg);
}