.trackingPage {
    width: 100vw;
    background-image: url("../assets/images/wp3714801.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trackingPage .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackingPage .overlay .header {
    color: white;
    font-size: 40px;
}

.trackingPage .overlay .body {
    color: white;
    font-size: 18px;
    text-align: center;
}

.trackingPage .overlay .trackBar {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 50px;
}

.trackingPage .overlay .trackBar input {
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 70%;
    padding: 10px;
}

.trackingPage .overlay .trackBar input:focus-visible {
    outline: none;
}

.trackingPage .overlay .trackBar button {
    width: 30%;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    background-color: #e72828;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.trackingPage .overlay .trackBar button:hover {
    transform: rotateZ(10deg);
}

.trackingPage .backButton {
    cursor: pointer;
    background-color: #e72828;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackingPage .backButton:hover {
    transform: scale(1.2);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media screen and (max-width: 440px) {
    .trackingPage .overlay {
        padding: 20px;
        width: auto;
    }

    .trackingPage .overlay .trackBar {
        width: 80%;
    }
}