@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Using External Font-Faces */
@font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/assets/fonts/poppins.ttf');
}



/* Custom classes */
.navlink {
    @apply no-underline text-black;
}

.navlink:hover {
    @apply scale-110 text-primary transition-[0.8s];
}