@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Using External Font-Faces */
@font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/assets/fonts/poppins.ttf');
}



/* Custom classes */
.navlink {
    @apply no-underline text-black font-poppins;
}

.navlink:hover {
    @apply scale-110 text-primary transition-[0.8s];
}

.drop-cap:first-letter {
    @apply text-6xl font-bold float-left mr-2 leading-none;
}